<h1>示例</h1>
<nz-tabset [(nzSelectedIndex)]="MenuService.selectIndex" (nzSelectedIndexChange)="MenuService.selectTab(overview)">
	<nz-tab *ngFor="let tab of MenuService.tabs" [nzTitle]="titleTemplate">
		<ng-template #titleTemplate>
			<div>
				{{ tab.name}}
				<i nz-icon nzType="close" class="ant-tabs-close-x" *ngIf="tab.closeable"
					(click)="MenuService.closeTab(tab)"></i>
			</div>
		</ng-template>
		<!-- 概览 -->
		<ng-container *ngIf="tab.id == 'public-menu-overview'">
			<app-menu-overview #overview></app-menu-overview>
		</ng-container>
		<!-- 列表 -->
		<ng-container *ngIf="tab.id == 'public-menu-list'">
			<app-menu-list #list [tab]="tab"></app-menu-list>
		</ng-container>
		<!-- 列表-新增、修改 -->
		<ng-container *ngIf="tab.id.includes('public-menu-list-')">
			<!-- tab：对应tab值，必传；search：对应表格查询函数，必传  -->
			<app-menu-create [tab]="tab" (search)="tableDataFn($event)"></app-menu-create>
		</ng-container>
	</nz-tab>
</nz-tabset>

<markdown src='assets/md/public/menu.md'></markdown>