@import url("src/common-name.less");

/*
	* 【布局】左树右表格
*/
.tree-table {
  display: flex;
  width: 100%;

  .left-tree {
    padding: @space @space 0 0;
    min-width: 200px;
		max-width: 50%;
		height: calc(100vh - 190px);
    border-right: 1px solid #e8e8e8;
		overflow-x: hidden;
    overflow-y: auto;
		nz-input-group {
			margin-bottom: @space-samll;
		}
  }

  .right-table {
    flex: 1;
    padding: @space 0 0 @space;
  }
}