<div class="content">
	<!-- 上传文件 -->
	<div class="upload-file">
		<div class="inner-title">
			{{ i18n.list.upload.file }}
			<small *ngIf='uploadHint'>( {{ uploadHint }} )</small>
			<a *ngIf='tempUrl' (click)='downloadTemp()'>{{ i18n.list.upload.downloadTemp }}</a>
		</div>
		<!-- 单选、后端参数file -->
		<nz-upload nzType="drag" [nzAction]="importUrl" [nzAccept]="accept" [nzSize]="size" [nzDisabled]="uploadLoading"
			[nzBeforeUpload]="nzBeforeUpload" [nzCustomRequest]="nzCustomRequest" (nzChange)="nzChange($event)">
			<p class="ant-upload-drag-icon"><i nz-icon nzType="inbox"></i></p>
			<p class="ant-upload-text">{{ i18n.list.upload.placeholder }}</p>
		</nz-upload>
	</div>
	<!-- 上传结果 -->
	<div class="upload-result">
		<div class="inner-title">{{ i18n.list.upload.result }}</div>
		<textarea nz-input disabled rows="4" [ngModel]="uploadResult"></textarea>
	</div>
</div>