<app-table-head #tableHead (search)="tableDataFn(true, $event)" [exportShow]="'true'" (export)="export()"
	[advanceData]="advanceData" [colsData]="colsData" [placeholder]="'请输入IP、描述'">
	<ng-container ngProjectAs="btns">
		<!-- MenuService.routerMenuPoint.includes('create') 权限校验 -->
		<button nz-button nzType="primary" *ngIf="MenuService.routerMenuPoint.includes('create')"
			(click)="create()">新增</button>
		<button nz-button nzType="primary" *ngIf="MenuService.routerMenuPoint.includes('delete')" (click)="deleteFn()"
			[disabled]="!isAllChecked && !isIndeterminate">删除</button>
		<button nz-button nzType="primary" *ngIf="MenuService.routerMenuPoint.includes('import')"
			(click)="importFn()">导入</button>
		<button nz-button nzType="primary" *ngIf="MenuService.routerMenuPoint.includes('export')"
			(click)="export('checked')" [disabled]="!isAllChecked && !isIndeterminate">导出</button>
	</ng-container>
	<ng-container ngProjectAs="tips">
		<nz-alert nzShowIcon nzType="info" nzMessage="表格提示：统一放在按钮下，表格上。"></nz-alert>
	</ng-container>
</app-table-head>
<!-- 此处为前端假数据所以忽略nzFrontPagination="false" -->
<nz-table #Table nzSize="middle" nzTableLayout="fixed" nzLoadingDelay="500" nzShowQuickJumper="true"
	nzShowSizeChanger="true" [nzLoading]="tableLoading" [nzData]="tableData" [nzTotal]="tableTotal"
	[(nzPageIndex)]="tablePage" [(nzPageSize)]="tableSize" (nzPageIndexChange)="tableDataFn()"
	(nzPageSizeChange)="tableDataFn(true)" (nzCurrentPageDataChange)="refreshStatus()">
	<!-- 排序功能：(nzSortOrderChange)="sortFn($event, tableDataFn)" -->
	<thead (nzSortOrderChange)="sortFn($event, tableDataFn)">
		<tr>
			<!-- th：子表格、勾选框、时间、ip等固定列宽加上对应class -->
			<th class="checkbox" nzShowCheckbox [(nzChecked)]="isAllChecked" [nzIndeterminate]="isIndeterminate"
				(nzCheckedChange)="checkAll($event)"></th>
			<!-- 正常写法 -->
			<!--<th class="time">时间</th>
			<th class="ip">IP</th>
			<th>描述</th>
			<th nzWidth="120px">操作</th>-->
			<!-- 可配置列写法 -->
			<ng-container *ngFor="let item of colsData">
				<!-- 排序功能：[nzShowSort]="item.sort" [nzColumnKey]="item.key" -->
				<th [hidden]="!item.show" [ngClass]="item.class" [style.width]="item.width" [nzShowSort]="item.sort"
					[nzColumnKey]="item.key">
					{{ item.title }}
				</th>
			</ng-container>
			<th nzWidth="60px">{{ i18n.baseList.handle }}</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of Table.data">
			<td nzShowCheckbox [(nzChecked)]="checkedRows[item.id]" (nzCheckedChange)="checkbox(item)"></td>
			<td [hidden]="!colsData[0].show">{{item.time}}</td>
			<td [hidden]="!colsData[1].show">{{item.ip}}</td>
			<td [hidden]="!colsData[2].show">
				<nz-select nzShowSearch nzAllowClear nzDropdownMatchSelectWidth style="width: 100%;"
					nzPlaceHolder='很长的placeHolder很长的placeHolder很长的placeHolder'>
					<nz-option nzValue="true" nzLabel="select/select-tree必须配置nzDropdownMatchSelectWidth：默认最小宽度为选择器宽度，超出后自适应宽度">
					</nz-option>
				</nz-select>
			</td>
			<td [hidden]="!colsData[3].show" [nz-tooltip]="item.describe">{{item.describe}}</td>
			<td>
				<a nz-button nzType="link" *ngIf="MenuService.routerMenuPoint.includes('update')"
					(click)="update(item, 'name')">
					修改
				</a>
			</td>
		</tr>
	</tbody>
</nz-table>