<h1>示例</h1>
<app-tree-table [(searchValue)]="treeSearch">
	<ng-container ngProjectAs="tree">
		<nz-tree #leftTree nzHideUnMatched [nzData]="treeNodes" [nzSearchValue]="treeSearch"
			(nzSearchValueChange)="searchChange()" (nzClick)="clickNodeFn($event, tableDataFn)"
			(nzContextMenu)="contextMenu($event, treeMenu)" [nzTreeTemplate]="treeTemp">
		</nz-tree>
		<ng-template #treeTemp let-node>
			<span [title]="node.title">
				<span [title]="node.title" [innerHTML]="searchLight(node.title)"></span>
				（其他内容...）
			</span>
		</ng-template>
		<nz-dropdown-menu #treeMenu>
			<ul nz-menu>
				<li nz-menu-item>新增</li>
				<li nz-menu-item>修改</li>
				<li nz-menu-item>删除</li>
			</ul>
		</nz-dropdown-menu>
	</ng-container>
	<ng-container ngProjectAs="table">
		<app-menu-list [treeParamKey]="treeParamKey" [clickNode]="clickNode"></app-menu-list>
	</ng-container>
</app-tree-table>

<markdown src='assets/md/tree.md'></markdown>